.container {
  background: darkgray;
  color: white;
  display: flex;
  height: 400px;
  justify-content: space-around;
}

.r1 {
  background: red;
}

.r2 {
  background: blue;
}

.r3 {
  background: green;
}

.rect {
  width: 150px;
  height: 150px;
}