.container {
  display: flex;
  background: darkgray;
  height: 290px;
  color: white;
}

.r1 {
  flex-shrink: 0;
  background: red;
}

.r2 {
  flex-shrink: 0;
  background: blue;
}

.r3 {
  background: green;
  flex-shrink: 0;
  /* flex-shrink: 0 não deixa diminuir */
  /* flex-grow: 0 não deixa aumentar*/
}

.rect {
  width: 150px;
  height: 100px;
}